/* overriding buttons */

.btn{
    font-size: 1rem;
    font-weight: 500;
}
.btn-primary{
    font-size: 1rem;
    font-weight: 500;
    background: $secondary;
    padding: 7px 25px;
    color: $white !important;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: none;
    border-color: $secondary;
    text-decoration: none !important;
}
.btn-white{
    font-size: 1rem;
    font-weight: 500;
    background: $white;
    padding: 7px 25px;
    color: $secondary;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: none;
    border-color: $white;
}
.btn-white:hover{
    text-decoration: none !important;
    cursor: pointer;
}
.btn-primary:hover,.btn-primary:focus {
    color: $white;
    background-color: $secondary;
    box-shadow: none;
    border-color: $secondary;

}

.btn-outline-light{
    font-size: 1rem;
    font-weight: 500;
    border-color: $white;
    background-color: transparent;
    color: $white;
    border-radius: 20px;
    padding: 7px 25px;
    display: inline-block;
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active, 
.show > .btn-primary.dropdown-toggle,
.btn-outline-light:hover,.btn-primary:hover,.btn-primary:focus,
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle

{
    color: $white;
    background-color: $green-dark;
    box-shadow: none;
    border-color: $green-dark;
    box-shadow: none;
    text-decoration: none;

}
