/*======extends=====*/

%justify-center{
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  %justify-start{
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
  }

  
  

// Small devices

@mixin xs {
    @media (min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max}) {
        @content;
    }
 }
 
  // tablet devices
  @mixin sm {
    @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
        @content;
    }
 }

 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
        @content;
    }
 }
 